[submodule "video-flow-api"]
	path = video-flow-api
	url = https://github.com/clmntgbr/video-flow-api
[submodule "video-flow-protobuf"]
	path = video-flow-protobuf
	url = https://github.com/clmntgbr/video-flow-protobuf
